!!!
%html
  %head
    = stylesheet_link_tag "application", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"
    = javascript_include_tag "application"
    = stylesheet_link_tag "http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css", :rel => "stylesheet", :type => "text/css"
    = javascript_include_tag "http://code.jquery.com/ui/1.9.2/jquery-ui.js"
    
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false"
   

%body
  = render :partial => "shared/header"
  #main_container
    = yield
  = render :partial => "shared/footer"