= render :partial => 'spree/shared/error_messages', :locals => { :target => @order }
%table#cart-detail{"data-hook" => ""}
  %thead
    %tr{"data-hook" => "cart_items_headers"}
      %th.cart-item-description-header{:colspan => "2"}= t(:item)
      %th.cart-item-price-header= t(:price)
      %th.cart-item-quantity-header= t(:qty)
      %th.cart-item-total-header= t(:total)
      %th.cart-item-delete-header
  %tbody#line_items{"data-hook" => ""}
    - @order.line_items.each do |li|
      %div.line_item{:style=>"display:none"}
        %h4= li.variant.name
        = li.price
        = li.quantity
    - prev = @order.line_items.first.variant.product
    = order_form.fields_for :line_items do |item_form|
      - ths = item_form.object.variant.product
      -  if prev != ths
        - prev = ths
      -  if prev == ths
        = render :partial => 'line_item', :locals => { :variant => item_form.object.variant, :line_item => item_form.object, :item_form => item_form }
  = render "spree/orders/adjustments" unless @order.adjustments.eligible.blank?
