- content_for :head do
  = javascript_include_tag states_url(:format => :js)
#main_container
  #checkout{"data-hook" => ""}
    = render :partial => 'spree/shared/error_messages', :locals => { :target => @order }
    .row{"data-hook" => "checkout_header"}
      %h3.columns.three.alpha{"data-hook" => "checkout_title"}= t(:checkout)
      .columns.thirteen.omega{"data-hook" => "checkout_progress"}= checkout_progress
    .row{"data-hook" => "checkout_content"}
      %div{:class => "columns #{if @order.state != 'confirm' then 'alpha twelve' else 'alpha omega sixteen' end}", "data-hook" => "checkout_form_wrapper"}
        = semantic_form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form|
          - unless @order.email?
            %p.field{:style => "clear: both"}
              = form.label :email
              %br/
              = form.text_field :email
          = render @order.state, :form => form
      - if @order.state != 'confirm'
        #checkout-summary.columns.omega.four{"data-hook" => "checkout_summary_box"}
          = render :partial => 'summary', :locals => { :order => @order }
